body {
	background-color: #EDEBE4;
	margin: 0;
	padding: 0;
	font-family: "Georgia", "Times New Roman", Times, serif;
	font-size: 18px
	line-height: 150%;

}

h1 {
	color: white;
	background-color: #2D2D2D;
	margin: 0;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

a {
	color: red;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

#mainbio,
#contactinfo,
#bioimage {
	float: left;
}

#mainbio {
	width: 70%;
}

#contactinfo {
	width: 30%;
}

#bioimage {
	margin-right: 20px;
	width: 200px;
	height: 200px;
}